.Orders {
    background: #fff;
    min-width: 100%;
    margin: 10px 0;
}

.graphic-block {
    display: flex;
    justify-content: space-between;
}

.graphic-picture {
    width: 800px;
    margin: 10px;
}